p {
  margin: 20px 5px;
}

.landing {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.landing img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  padding: 22px;
}

.landing p {
  font-style: italic;
  text-align: center;
  flex-grow: 1;
  color: var(--secondary-text-color);
}
