.blog-page {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  margin: 60px 0px;
  justify-content: flex-start;
  gap: 20px;
}

.blog-list .blog-meta {
  margin: 0px 0px;
  font-size: var(--text-base);
  color: var(--secondary-text-color);
}

.blog-list .blog-date {
  font-style: italic;
  font-size: var(--text-sm);
}

.blog-list h3 {
  margin: 0px 0px;
}
