.social-contact-list {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.social-contact-list li {
  list-style-type: none;
  transition: all 0.2s;
}

.social-contact-list li:nth-child(even):hover {
  color: var(--primary-text-color);
  transform: rotate(20deg);
}

.social-contact-list li:nth-child(odd):hover {
  color: var(--primary-text-color);
  transform: rotate(-20deg);
}

.social-contact-list li a {
  font-size: 1.6rem;
}
