header {
  padding: 20px 20px;
  margin: 0px 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

nav h1 {
  flex-grow: 1;
}

nav ul {
  font-size: 2.6rem;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  nav {
    display: block;
  }
  nav h1 {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
}
