header {
  padding: 20px 20px;
  margin: 0px 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

nav h1 {
  flex-grow: 1;
}

nav ul {
  font-size: 2.6rem;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--link-text-color);
  border-bottom: 1px solid var(--link-text-color);
  display: inline-block;
  padding: 0px 5px;
  transition: all 0.3s;
}

nav ul li a:hover {
  color: var(--primary-background-color);
  border-bottom: 1px solid var(--primary-text-color);
  background-color: var(--primary-text-color);
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  nav {
    display: block;
  }
  nav h1 {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
}
