footer {
  text-align: center;
  margin-left: 40px;
}

footer p {
  font-size: 1rem;
  color: var(--secondary-text-color);
  font-style: italic;
}

@media (max-width: 768px) {
  footer {
    margin: 20px auto;
  }

  footer p {
    font-size: 0.9rem;
  }
}
