:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f8f9fa;
  --primary-text-color: #333333;
  --bold-text-color: #2c3e50;
  --secondary-color: #3498db;
  --hover-color: #2980b9;
  --box-shadow: 0 2px 8px #eaecee;
  --box-shadow-hover: 0 4px 12px #d6dbdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
