:root {
  --primary-background-color: #f9f9f9;
  --secondary-background-color: #ffffff;
  --primary-text-color: #171717;
  --secondary-text-color: #333333;
  --bold-text-color: #999999;
  --link-text-color: #cc0000;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-primary: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-code: "Source Code Pro", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--secondary-background-color);
}

main {
  margin: 35px 80px;
  background-color: var(--primary-background-color);
  padding: 69px 69px;
}

section {
  margin: 40px 0px;
}

h1 {
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: var(--font-bold);
  line-height: 1.2;
  color: var(--primary-text-color);
}

h2 {
  font-family: var(--font-heading);
  font-size: 2.2rem;
  font-weight: var(--font-semibold);
  line-height: 1.3;
  color: var(--primary-text-color);
}

h3 {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: var(--font-semibold);
  line-height: 1.4;
  color: var(--primary-text-color);
}

h4 {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  font-weight: var(--font-semibold);
  color: var(--primary-text-color);
}

h5 {
  font-family: var(--font-heading);
  font-size: 1.6rem;
  font-weight: var(--font-semibold);
  color: var(--primary-text-color);
}

h6 {
  font-family: var(--font-heading);
  font-size: 1.4rem;
  font-weight: var(--font-bold);
  color: var(--primary-text-color);
}

p {
  font-size: 1.2rem;
  font-weight: var(--font-normal);
  line-height: 1.6;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--link-text-color);
}

a:hover {
  color: var(--primary-text-color);
}

.link-class {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--link-text-color);
  border-bottom: 1px solid var(--link-text-color);
  display: inline-block;
}

.link-class:hover {
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
}

@media (max-width: 768px) {
  main {
    margin: 35px auto;
    padding: 10px 20px;
  }

  section {
    margin: 45px auto 30px auto;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    margin: 0px auto;
  }

  a {
    font-size: 1.2rem;
  }
}
