:root {
  --primary-background-color: #f9f9f9;
  --secondary-background-color: #ffffff;
  --primary-text-color: #171717;
  --secondary-text-color: #333333;
  --bold-text-color: #999999;
  --link-text-color: #ff3300;
  --text-xs: 13px;
  --text-sm: 16px;
  --text-base: 23px;
  --text-lg: 26px;
  --text-xl: 29px;
  --text-2xl: 32px;
  --text-3xl: 39px;
  --text-4xl: 46px;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-primary: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-code: "Source Code Pro", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--secondary-background-color);
}

main {
  margin: 35px 170px;
  background-color: var(--primary-background-color);
  padding: 69px 109px;
}

section {
  margin: 40px 0px;
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--text-4xl);
  font-weight: var(--font-light);
  line-height: 1.2;
  color: var(--primary-text-color);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--text-3xl);
  font-weight: var(--font-semibold);
  line-height: 1.3;
  color: var(--primary-text-color);
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  line-height: 1.4;
  color: var(--primary-text-color);
}

h4 {
  font-family: var(--font-heading);
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  color: var(--primary-text-color);
}

h5 {
  font-family: var(--font-heading);
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  color: var(--primary-text-color);
}

h6 {
  font-family: var(--font-heading);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--primary-text-color);
}

p {
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  line-height: 1.6;
}

a {
  font-size: var(--text-base);
  text-decoration: none;
  color: var(--link-text-color);
}

a:hover {
  color: var(--primary-text-color);
}

.link-class {
  font-size: var(--text-base);
  text-decoration: none;
  color: var(--link-text-color);
  border-bottom: 1px solid var(--link-text-color);
  display: inline-block;
}

.link-class:hover {
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
}
