.project-page {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.project-list {
  display: flex;
  flex-direction: column;
  margin: 60px 0px;
  justify-content: flex-start;
  gap: 20px;
}

.project-list .project-meta {
  margin: 0px 0px;
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.project-list .project-date {
  font-style: italic;
  font-size: 0.8rem;
}

.project-list h3 {
  margin: 0px 0px;
}

@media (max-width: 768px) {
  .project-list {
    margin: 30px 0px;
    gap: 10px;
  }
}
